h5{
  display: inline;
}
i{
  text-align: right;
  align-items: center;
  font-style: normal;
  margin-left: 35em;
}
fieldset{
  background-color: rgb(255, 255, 255);
  border-radius:10px;
  font-size:small;
  font-family:fantasy;
  margin-left:20px;

}
p h1{
  display: inline;
}

.card{
  margin-left: 0px;
  }
